NEXT_PUBLIC_SUPABASE_URL=https://ulczxopzyclihsvuavzc.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
OPENAI_API_KEY=
ADMIN_PASSWORD_HASH=
DEVICE_TOKEN_PEPPER=
CRON_SECRET=
OPENAI_ADMIN_API_KEY=
NERAMIT_SAFE_MODE=false
